<div class="row">
	<div class="container">
		<div class="col-12 mt-1">
			<button (click)='regresar()' class="btn btn-primary" style="marigin: 5px">Regresar </button>
		</div>
		<div class="col-12" style="margin:auto; text-align:center;; padding:10px">
			CONTACTOS DE LA AGENDA:
			<br>
			<strong>{{agenda?.nombre }}</strong>
		</div>
		<div class="col-12" style="margin:auto; text-align:right;; padding:10px">
			<button [routerLink]="[ 'contactos/add' ]" class="btn btn-success">Agregar Contacto</button>
		</div>
		<div class="col-12">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Numero</th>
			      <th scope="col">Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let contacto of contactos">
			      <th scope="row">{{contacto?.id}}</th>
			      <td>{{ contacto?.nombre }}</td>
			      <td>{{ contacto?.numero_celular }}</td>
			      <td>
			      	<button [routerLink]="[ 'contactos', contacto.id, 'view'  ]" class="btn btn-primary" style="margin-right:5px"><i class="fa fa-search" aria-hidden="true"></i></button>
			      	<button [routerLink]="[ 'contactos', contacto.id , 'edit' ]" class="btn btn-warning" style="margin-right:5px">
			      		<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			      	</button> 
			      	<button (click)="borrar(contacto.id)"class="btn btn-danger">
			      		<i class="fa fa-times" aria-hidden="true"></i>
			      	</button>
			      </td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
